<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.mcal.websiteanalyzerpro">
	<!-- Неограниченный доступ к Интернету -->
	<uses-permission android:name="android.permission.INTERNET" />
	<!-- Просмотр сетевых подключений -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<!-- Изменение/удаление данных на USB-накопителе -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<application
		android:theme="@style/Theme.MyTheme"
		android:label="@string/app_name"
		android:icon="@mipmap/ic_launcher"
		android:usesCleartextTraffic="true"
		android:windowSoftInputMode="adjustResize"
		android:allowBackup="true">
		<activity
			android:label="@string/app_name"
			android:name="com.mcal.websiteanalyzerpro.MainActivity"
			android:configChanges="keyboardHidden|orientation|screenSize">
			<intent-filter android:label="@string/app_name">
				<action
					android:name="android.intent.action.SEND" />
				<category
					android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="text/plain" />
			</intent-filter>
			<intent-filter>
				<action
					android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:label="@string/viewHTML"
			android:name="com.mcal.websiteanalyzerpro.ViewHtmlActivity"
			android:windowSoftInputMode="stateHidden" />
		<activity
			android:label="@string/searchtags"
			android:name="com.mcal.websiteanalyzerpro.SearchTagsActivity"
			android:windowSoftInputMode="stateHidden" />
		<activity
			android:label="@string/searchtags"
			android:name="com.mcal.websiteanalyzerpro.JavaScriptConsoleActivity"
			android:windowSoftInputMode="stateHidden" />
		<activity
			android:label="@string/manageSessions"
			android:name="com.mcal.websiteanalyzerpro.ManageSessionsActivity"
			android:windowSoftInputMode="stateHidden" />
	</application>
</manifest>

